/*********************************** 
			Default
************************************/
body {
	width: 100%;
	margin: 0;
	padding: 0;
	height: auto;
	line-height: 1.5;
	letter-spacing: 0;
	font-size: 16px;
	background-color: #1d5333;
	color: #e8f4e1;;
}
h1,h2,h3,p,ol,ul,li,a {
	font-family: 'Helvetica', sans-serif;
}
h1,h2,h3 {
	font-family: 'Poppins', sans-serif;
	color: #e8f4e1;;
}
h2 {
	font-size: 1.3em;
}
a {
	font-weight: bold;
	color: #ea9a91;
	transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
a:hover {
	color: #848b95;
}
code, pre {
	background-color: #22262a;
	color: #EDEDED;
	border-radius: 4px;
	padding: 0 0.25em;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
img {
	width: 100%;
	height: auto;
}
section.main {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
	transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
p.copyright {
	margin: 0 auto;
	margin-bottom: 0.5em;
    text-align: center;
    color: #333333;
}

/* Breakpoint */
@media screen and (max-width: 700px) {
	section.main {
		margin: 5rem 2rem;
	}
}

/*********************************** 
 Pulled styles for atomic examples
************************************/

/*Atom 1*/
.Button {
	background-color: #6A2E35;
	border: 4px dotted #ea9a91;
	border-radius: 50px;
	padding:1rem 4rem;
	font-weight:700;
	text-wrap: nowrap;
    color:#e8f4e1;
}

/*Atom 2*/

.section_heading {
	font-weight:700;
	font-size:48px;
	letter-spacing: 0px;
	line-height: 48px;
    color:#ea9a91;
}

/*Atom 3*/

.secondary_heading {
	font-weight:700;
	font-size:24px;
	letter-spacing: 0px;
	line-height:24px;
    color:#ea9a91;
}

/*Atom 4*/

.item_description {
	font-family:Helvetica, sans-serif;
	letter-spacing: 0px;
}

/*Atom 5, 6, 7*/

.navItem-text a {
	font-family:Helvetica, sans-serif;
	color:#e8f4e1;
	font-weight: 500;
	text-decoration: none;
	letter-spacing:0px;
	font-size: 16px;
	text-wrap: nowrap;
}

.navItem_icon a {
	font-family:Helvetica, sans-serif;
	color:#e8f4e1;
	font-weight: 500;
	text-decoration: none;
	letter-spacing:0px;
	font-size: 16px;
	text-wrap: nowrap;
}

.navItem_text-icon a {
	font-family:Helvetica, sans-serif;
	color:#e8f4e1;
	font-weight: 500;
	text-decoration: none;
	letter-spacing:0px;
	font-size: 16px;
	text-wrap: nowrap;
}

/***********************
		NEW ATOMS
***********************/

/*Atom 8*/

.hero_text-large {
	font-weight:700;
	font-size:64px;
	letter-spacing: 0px;
	line-height: 60px;
    color:#e8f4e1;
}

/*Atom 9*/

.image_landscape {
	max-width:300px;
	height:200px;
	object-fit: cover;
}

.image_portrait {
	max-width:300px;
	height:400px;
	object-fit: cover;
}

.video_landscape {
	width:100%;
}

.image_landscape-background {
	height:500px;
	padding: 0;
	margin: 0;
	width: 100%;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    background-image: url(/img/Pages_Landscape.jpg);
}

/*Molecule 1*/

.item_card {
	max-width:300px;
}

/*Molecule 2*/

.dropdown {
	display:flex;
	justify-content: space-between;
	border-bottom: 4px dotted #ea9a91;
	padding-top:1rem;
}

/*Molecule 3*/

.navBar_left {
	display:flex;
	align-items: center;
}

.navBar_left .navItem-text {
	display:flex;
	flex:1;
	justify-content: center;
	padding-left:.5rem;
}

/*Molecule 4*/

.navBar_right {
	display:flex;
	gap:1.5rem;
	align-items: center;
}

/*Molecule 5*/

.cta_home {
	max-width: 400px;
}

/***********************
		NEW MOLECULES
***********************/

/*Molecule 6*/

.hero_title {
	display:flex;
	justify-content: center;
	align-items: center;
	
	
}

.hero_title .hero_text-large {
	position:absolute;
	width:500px;
	padding-right:5rem;		/*FIGURE THIS OUT so it doesnt look weird on resize*/
	z-index:1;
}

.hero_title .image_portrait {
	padding-left:10rem;
	opacity:.7;
}

.cta_dialog {
	background-color:inherit;
	border:dotted 4px #ea9a91;
	border-radius: 40px;
	padding:1rem 1rem 2rem 1rem;
	justify-content: center;
	text-align: center;
}

.site_footer {
	display:flex;
	gap:1rem;
}

.site_footer .secondary_heading {
	justify-content: center;
	flex:1;
	display:flex;
}

.site_footer .navItem_text-icon {
	justify-content: center;
	flex:1;
	display:flex;
}

.site_footer .navItem_text {
	justify-content: center;
	flex:1;
	display:flex;
}

.site_footer:first-child > span { 
	margin-right: auto; 
}

.site_footer:last-child  > span { 
	margin-left: auto;  
}



/*Organism 1*/

.item_container-flex {
	display:flex;
	justify-content: space-between;
	gap:3rem;
	
}

/*Organism 2*/

.dropdown_qna {
	margin:3rem 0;
}

/*Organism 3*/

.navBar_full {
	display:flex;
	justify-content: space-between;
	gap:6rem;
}

/***********************
	NEW ORGANISMS
***********************/
.layout_column-2 {
	display:flex;
	gap:2rem;
}

.layout_column-4 {
	display:flex;
	gap:1rem;
}

/***********************
	STYLE GUIDE CONTAINERS
***********************/
.styleguide_container {
	background-color: #0c311b;
	padding:2rem;
	margin:3rem 0;
	
}