/*********************************** 
			Default
************************************/

body {
	width: 100%;
	margin: 0;
	padding: 0;
	height: auto;
	line-height: 1.5;
	letter-spacing: 0;
	font-size: 16px;
	background-color: #1d5333;
	color: #e8f4e1;;
}
h1,h2,h3,p,ol,ul,li,a {
	font-family: 'Helvetica', sans-serif;
}
h1,h2,h3 {
	font-family: 'Poppins', sans-serif;
	color: #e8f4e1;;
}
h2 {
	font-size: 1.3em;
}
a {
	font-weight: bold;
	color: #ea9a91;
	transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
a:hover {
	color: #848b95;
}
code, pre {
	background-color: #22262a;
	color: #EDEDED;
	border-radius: 4px;
	padding: 0 0.25em;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

section.main {
    max-width: 80vw;
    margin: 0 auto;
	padding:0 5rem;
	transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
p.copyright {
	margin: 0 auto;
	margin-bottom: 0.5em;
    text-align: center;
    color: #333333;
}

/* Breakpoint */
@media screen and (max-width: 700px) {
	section.main {
		margin: 1rem 1rem;
	}
}

/*********************************** 
 Pulled styles for atomic examples
************************************/

/*Atom 1*/
.Button {
	background-color: #6A2E35;
	border-radius: 50px;
	padding:1rem 2rem;
	font-weight:700;
	text-wrap: nowrap;
    color:#e8f4e1;
}

/*Atom 2*/

.section_heading {
	font-weight:700;
	font-size:48px;
	letter-spacing: 0px;
	line-height: 48px;
    color:#ea9a91;
}

/*Atom 3*/

.secondary_heading {
	font-weight:700;
	font-size:24px;
	letter-spacing: 0px;
	line-height:24px;
    color:#ea9a91;
}

/*Atom 4*/

.item_description {
	font-family:Helvetica, sans-serif;
	letter-spacing: 0px;
}

/*Atom 5, 6, 7*/

.navItem-text a {
	font-family:Helvetica, sans-serif;
	color:#e8f4e1;
	font-weight: 500;
	text-decoration: none;
	letter-spacing:0px;
	font-size: 16px;
	text-wrap: nowrap;
}

.navItem_icon a {
	font-family:Helvetica, sans-serif;
	color:#e8f4e1;
	font-weight: 500;
	text-decoration: none;
	letter-spacing:0px;
	font-size: 16px;
	text-wrap: nowrap;
}

.navItem_text-icon a {
	font-family:Helvetica, sans-serif;
	color:#e8f4e1;
	font-weight: 500;
	text-decoration: none;
	letter-spacing:0px;
	font-size: 16px;
	text-wrap: nowrap;
}

/***********************
		NEW ATOMS
***********************/

/*Atom 8*/

.hero_text-large {
	font-weight:700;
	font-size:7vw;
	letter-spacing: 0px;
	line-height: 7vw;
    color:#e8f4e1;
}

/*Atom 9*/

.image_landscape {
	width:80vw;
	max-height:30vh;
	object-fit: cover;
	
}

.image_portrait {
	max-width:50vw;
	height:60vh;
	object-fit: cover;
}

.video_landscape {
	width:100%;
}

.image_landscape-background {
	height: 80vh;
	width:110%;
    background-size:cover;
    background-image: url(/img/Pages_Landscape.jpg);
	margin-left:-1rem;
	margin-right:-1rem;
}

/*Molecule 1*/

.item_card {
	max-width:300px;
}

/*Molecule 2*/

.dropdown {
	display:flex;
	justify-content: space-between;
	border-bottom: solid 5px #1d5333;;
	padding-top:1rem;
}

/*Molecule 3*/

.navBar_left {
	display:flex;
	align-items: center;
}

.navBar_left .navItem-text {
	display:flex;
	flex:1;
	justify-content: center;
	padding-left:.5rem;
}

/*Molecule 4*/

.navBar_right {
	display:flex;
	gap:1.5rem;
	align-items: center;
}

/*Molecule 5*/

.cta_home {
	width:100%;
	
}

/***********************
		NEW MOLECULES
***********************/

/*Molecule 6*/

.hero_title {
	width:100%;
	height:80vh;
	position:relative;
}

.hero_text-wrapper {
	position:absolute;
	width:100%;
	top:20vh;
	z-index:2;
	left:2vw;					
}

.hero_img-wrapper {
	position:absolute;
	right:10vw;
	opacity:.7;
	width:50%;
	top:5vh;
}

.cta_dialog {
	background-color:#0c311b;
	border:solid 5px #1d5333;
	border-radius: 40px;
	padding:1rem 1rem 2rem 1rem;
	justify-content: center;
	text-align: center;
}

.cta_dialog-front {
	background-color:#0c311b;
	border-radius: 40px;
	padding:1rem 5rem 2rem 5rem;
	justify-content: center;
	text-align: center;
	margin-top:-10rem;
	margin-bottom:5rem;
	width:50%;
	margin:-20rem auto 5rem;
}

.site_footer {
	display:flex;
	gap:1rem;
}

footer {
	background-color: #0c311b;
	padding:1rem;
}

.site_footer .secondary_heading {
	justify-content: left;
	flex:1;
	display:flex;
}

.site_footer .navItem_text-icon {
	justify-content: center;
	flex:1;
	display:flex;
}

.site_footer .navItem_text {
	justify-content: center;
	flex:1;
	display:flex;
}

.site_footer:first-child > span { 
	margin-right: auto; 
}

.site_footer:last-child  > span { 
	margin-left: auto;  
}

section {
	margin: 0 1rem;
}


/*Organism 1*/

.item_container-flex {
	display:flex;
	justify-content: space-between;
	gap:3rem;
	
}

/*Organism 2*/

.dropdown_qna {
	margin:3rem 0;
}

/*Organism 3*/

.navBar_full {
	display:flex;
	justify-content: space-between;
	gap:6rem;
	background-color: #0c311b;
	padding:1rem;
}

/***********************
	NEW ORGANISMS
***********************/
.layout_column-2 {
	display:flex;
	gap:2rem;
	height:60vh;
	margin-top: 40vh;
}

.layout_column-4 {
	display:flex;
	justify-content:space-evenly;
	gap:.2rem;
}

@media screen and (max-width: 800px) {
	.layout_column-4 {
		flex-wrap: wrap;
	}

	.layout_column-2 {
		flex-wrap: wrap;
	}
}

/***********************
	STYLE GUIDE CONTAINERS
***********************/
.styleguide_container {
	background-color: #0c311b;
	padding:2rem;
	margin:3rem 0;
	
}